.green {
    color: green;
}

.red {
    color: red;
}


.form-check-label {
    cursor: pointer;
}

.answerList {
    transition: all .3s ease-in-out;
}

.writeAnswerDiv {
    display: block;

}

@media (max-width: 768px) {
    .answerList {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
    .form-check-label {
        font-size: 0.9rem; /* Adjust label size for smaller screens */
    }
}

@media (max-width: 576px) {
    .answerList {
        font-size: 0.8rem; /* Further adjust font size for extra small screens */
    }
    .form-check-label {
        font-size: 0.8rem; /* Further adjust label size for extra small screens */
    }
}